.navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.page-header__logo,
.navigation__menu,
.page-header__auth-nav {
  vertical-align: middle;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.navigation__menu {
  margin-left: 93px;
  display: flex;
}

.hamburger-btn {
  display: inline-flex;
  // width: 40px;
  // height: 40px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hamburger-btn .icon-cross {
  display: none;
}

.hamburger-btn.is-open .icon-cross {
  display: block;
}

.hamburger-btn.is-open .icon-menu {
  display: none;
}

.page-header__auth-nav {
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.auth-nav__link {
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.navigation__link {
  position: relative;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.page-header__link,
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    &--first {
      padding-top: 21px;
      padding-bottom: 5px;
    }

    &--last {
      padding-top: 5px;
      padding-bottom: 21px;
    }
  }
}

.navigation__link--current {
  color: var(--accent-color);
  fill: var(--accent-color);

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    opacity: 0.4;
    background-color: var(--accent-color);
  }
}

.auth-nav__link--flex {
  display: flex;
  align-items: center;
}

// .auth-nav__svg,
// .auth-nav__link-item {
//   vertical-align: middle;
// }

.auth-nav__svg.auth-nav__svg--first {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    width: 14px;
    height: 10px;
  }
}

.auth-nav__svg.auth-nav__svg--last {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    width: 10px;
    height: 14px;
  }
}

.auth-nav__link-item {
  padding-left: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    font-size: 12px;
    line-height: 1.167;
  }
}

.auth-nav__first {
  margin: 0 0 9px 0;
}

.auth-nav,
.navigation__menu {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.auth-nav__item--footer {
  line-height: 1.71;
  @media screen and (max-width: 1199.9px) {
    text-align: center;
  }
}

.auth-nav.page-header__auth-nav,
.navigation__menu {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}
