.navigation {
  display: flex;
  align-items: center;
}

.page-header__logo,
.navigation__menu,
.page-header__auth-nav {
  vertical-align: middle;
}

.auth-nav,
.navigation__menu {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.auth-nav__item:not(:last-child),
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__menu {
  margin-left: 93px;
  display: flex;
}

.page-header__auth-nav {
  margin-left: auto;
  display: flex;
}

.auth-nav__link {
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.navigation__link {
  position: relative;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.page-header__link,
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: var(--accent-color);
  fill: var(--accent-color);

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    opacity: 0.4;
    background-color: var(--accent-color);
  }
}

.auth-nav__link--flex {
  display: flex;
  align-items: center;
}

.auth-nav__svg,
.auth-nav__link-item {
  vertical-align: middle;
}

.auth-nav__link-item {
  padding-left: 10px;
}

.auth-nav__first {
  margin: 0 0 9px 0;
}
