.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio-header {
  color: #000000;
}

.logo__studio-footer {
  color: #ffffff;
}

.logo--footer {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
}
