.hamburger-btn {
  position: relative;
  z-index: 10;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  &.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hamburger-btn .icon-cross {
  display: none;
}

.hamburger-btn.is-open .icon-cross {
  display: block;
}

.hamburger-btn.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;

  @media screen and (max-width: 767.9px) {
    display: none;
    position: fixed;
    z-index: 9;
    top: 0%;
    left: 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    height: 100vh;
    min-height: 500px;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: 450px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
  }
}

.mobile-socials {
  display: flex;
  justify-content: flex-start;
  margin-top: 64px;
  flex-wrap: wrap;

  @media screen and (max-width: 400px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-socials__item {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}
