.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background-hero/background-hero480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bg-color);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/background-hero/background-hero960@2x.jpg');
  }

  @media screen and (min-width: 480px) and (max-width: 767.9px) {
    background-image: url('../images/background-hero/background-hero768.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/background-hero/background-hero1536@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: url('../images/background-hero/background-hero1600.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/background-hero/background-hero3200@2x.jpg');
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;

  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 0;
  margin-bottom: 0px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: #fff;
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: #fff;
  }
}
