.subscribe {
  margin-left: 93px;
  padding-top: 12px;
}

.subscribe-container {
  display: flex;
}

.subscribe__form-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--primary-bacgr-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: rgba(255, 255, 255, 0.6);

  &:focus {
    border-color: var(--accent-color);
  }
}
