@import '../utils/variables';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  // outline: 1px solid red;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

body.is-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  border: 1px solid transparent;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.feature-list__title--position,
.portfolio-list__title {
  color: var(--title-text-color);
  margin: 0 0 10px 0;
  padding: 0;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  color: var(--title-text-color);
  margin: 0 0 30px 0;
  padding: 0;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.167;
    margin: 0 0 50px 0;
  }
}
