html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  border: 1px solid transparent;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.feature-list__title--position,
.portfolio-list__title {
  color: var(--title-text-color);
  margin: 0 0 10px 0;
  padding: 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--title-text-color);
  margin: 0 0 50px 0;
  padding: 0;
}
