// цвет основного текста #212121
// цвет вторичного текста #757575
// белый цвет текста #ffffff
// цвет ссылки в адресе rgba(255, 255, 255, 0.6)
// акцент #2196F3
// вторичный цвет фона #F5F4FA
// цвет фона герой и футер #2F303A
// Raleway 700 normal, Roboto 500 normal, Roboto 900 normal, Roboto 700 normal, Roboto 400 normal */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-bacgr-color: #2f303a;
  --second-backgr-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --svg-color: #afb1b8;
}
